body {
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 5px;
}

.game {
    text-align: center;
}

.subsectionTitle {
    color: darkred;
}

th, td {
    border: 2px solid cornflowerblue;
    padding: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.table_c1 {
    border: 2px solid cornflowerblue;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px auto;
}

p {
    color: dimgrey;
}

.scoreTitle {
    color: dimgrey;
    font-size: large;
}